{% extends "base.html" %}   


{% block content %}
<div class="container">
    <h1>TRIVIZ : Data Visualization for Triathletes</h1>
    <div class="panel panel-default">
  <div class="panel-heading"></div>
  <div class="panel-body">Triviz permet de visualiser simplement et rapidement des données issus des résultats des triathlons FFTRI Rhône-Alpes depuis 2010. Il est possible d'afficher les listes de triathlons année par année, les résultats d'un triathlon ou le résumée individuel d'un triathlète sur un an. La base de données est extraite depuis le site web de Rillieux Triathlon. Projet maintenu par Janvier Maxime, sous licence MIT</div>
</div>

    <div class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Attention !</strong> Le téléchargement des données peut prendre plusieurs secondes. Soyez patients. ;)
    </div>
</div>


<div class="container"> 
    <div id="form">
        <form action="/chooseyear" method="post">
            <legend>Choisir une année</legend> 
            <div class="btn-group">
                <input type="submit" class="btn btn-primary btn-lg" name="year" value="2010">
                <input type="submit" class="btn btn-primary btn-lg" name="year" value="2011">
                <input type="submit" class="btn btn-primary btn-lg" name="year" value="2012">
                <input type="submit" class="btn btn-primary btn-lg" name="year" value="2013">
                <input type="submit" class="btn btn-primary btn-lg" name="year" value="2014">
                <input type="submit" class="btn btn-primary btn-lg disabled" name="year" value="2015">
            </div>
        </form>    
    </div>
    <div id="form">    
        <form action="/chooseallyears" method="post">
            <legend>Choisir une année</legend>
            <div class="btn-group">
                <input type="submit" class="btn btn-danger btn-lg" name="allyears" value="2010 à 2014">
            </div>            
        </form> 
    </div>           
</div> 

{% if form_select_triathlon %}
<div class="container"> 
    <div id="form">
        <form class="form-inline" action="/choosetriathlon" method="post">
            <legend>Afficher les données d'un triathlon de {{ year }}</legend> 
            <div class="form-group">
                <select class="form-control" name="tri">
                    {% for l in form_select_triathlon %}
                    <option value="{{ l[0] }};{{ l[1] }}">{{ l[0] }}</option>
                    {% endfor %}
                </select>
            </div>  
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Position</span>
                <input type="text" class="form-control" name="max" placeholder="N premiers">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Athlete</span>
                <input type="text" class="form-control" name="athlete" placeholder="Nom Prénom">
            </div>              
            <input type="submit" class="btn btn-default btn-sm" value="Launch">
        </form>
    </div>  
</div> 
{% endif %}

{% if form_select_athlete %}
<div class="container">
    <div id="form">
        <form class="form-inline" action="/chooseathlete" method="post">
            <legend>Afficher le résumé d'un triathlète en {{ year }}</legend>  
            <div class="form-group">
                <select class="form-control" name="athlete">
                    {% for name,id in form_select_athlete | dictsort %}
                    <option value="{{ name }};{{ id }};{{ year }}">{{ name | title }}</option>
                    {% endfor %}
                </select>
            </div>  

            <input type="submit" class="btn btn-default btn-sm" value="Launch">
        </form>
    </div>
</div>
{% endif %}

{% endblock %}
