body {
    font-family:Helvetica;
    background-image:url('/static/images/square_bg.png');
    background-repeat: repeat;
}

h1 { 
    text-align: center 
}

img {
border: 1px solid #DDD;
border-radius: 4px;
margin: 8px auto;
padding:8px;
background-color: #fff;
}

td,th {
    font-size: 1em;
    border: 1px solid #ddd;
    padding: 5px 2px;
}

th {
    text-align: center;
    background-color: #337AB7;
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}

tr:nth-child(odd) {
    background-color: #fafafa;
}

#form {
    border: 1px solid #ddd;
    margin: 5px;
    padding: 5px;
    text-align:center;
    float:left;
    background-color: #fafafa;
}